[Unit]
Description=Clipboard history for images
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=300
StartLimitBurst=20

[Service]
Type=simple
ExecStart=/usr/bin/stash --min-size 512 watch --mime-type image
Restart=always
RestartSec=2
Slice=session.slice

[Install]
WantedBy=hyprland-session.target
